{% extends "layouts/base.html" %}

{% block content %}

<section class="hero" id="hero">
    <img src="{{ hero.image }}" alt="{{ hero.imgalt }}" width="800">
    <article class="mission-social">
        <h2>{{ hero.tagline }}</h2>
        <p class="mission-en">{{ hero.missionen }}</p>
        <p class="mission-es">{{ hero.missiones }}</p>
        <!-- Social Block -->
        <ul class="social-links">
            {% for socials in social.socials %}
            <li>
                <a href="{{ socials.url }}" target="_blank" rel="noopener">
                    <span class="sr-only">follow us on {{ socials.name }}</span>
                    <i class="fa fa-{{ socials.name }}{{ socials.famod }}" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
        </ul><!-- End Social Block -->
    </article>
</section>

<section class="section-margin" id="hispanic-heritage-talks">
    <div class="hht20--info">
        <h2>{{ hht20.heading }}</h2>
        <p class="hht20--info-dates"><i class="fa fa-calendar" aria-hidden="true"></i> {{ hht20.date }}</p>
        <p class="hht20--info-description">{{ hht20.description }}</p>
        <ul class="button-list">
            <li><a href="{{ hht20.buttons[0].url }}" class="button">{{ hht20.buttons[0].text }}</a></li>
            <li><a href="{{ hht20.buttons[1].url }}" class="button">{{ hht20.buttons[1].text }}</a></li>
        </ul>
    </div>
    <div class="hht20--images">
        <img src="{{ hht20.images[0].image }}" alt="" class="hht20--img1">
        <img src="{{ hht20.images[1].image }}" alt="" class="hht20--img2">
        <img src="{{ hht20.images[2].image }}" alt="" class="hht20--img3">
    </div>
</section>

<section class="section-margin" id="speakers">
    <h2>Speakers</h2>
    <ul class="speakers-grid">
        {% for speakers in collections.speakers %}
        <li>
            <article class="speakers-grid--card">
                <figure class="speakers-grid--card-headshot">
                    <img src="{{ speakers.data.image }}" alt="">
                </figure>
                <div class="speakers-grid--info">
                    <h3 class="speakers-grid--name"><a href="{{ speakers.url }}">{{ speakers.data.name }}</a></h3>
                    <ul class="speakers-grid--details">
                        <li class="speakers-grid--details-title">{{ speakers.data.title }}</li>
                        <li class="speakers-grid--details-organization">{{ speakers.data.company }}</li>
                    </ul>
                    <ul class="speakers-grid--social">
                        {% for social in speakers.data.social %}
                        <li>
                            <a href="{{ social.url }}" target="_blank" rel="noopener">
                                <span class="sr-only">follow {{ speakers.data.firstname }} on {{ social.name }}</span>
                                <i class="fa fa-{{ social.name }}{{ social.famod }}" aria-hidden="true"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="section-margin" id="schedule">
    <h2>Schedule</h2>
</section>

<section class="section-margin" id="gracias">
    <h2>{{ gracias.heading }}</h2>
    <p class="gracias-description">{{ gracias.description }}</p>
    <ul class="gracias-grid--chapters">
        {% for chapters in gracias.chapters %}
        <li>
            <a href="{{ chapters.url }}" target="_blank" rel="noopener">
                <img src="{{ chapters.logo }}" alt="{{ chapters.name }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="section-margin" id="sponsors"></section>

<section class="section-margin" id="get-involved">
    <h2>Get Involved</h2>
    <form name="get-involved" method="POST" data-netlify="true">
        <p class="getinvolved-form--fname">
            <label>First Name<br />
                <input type="text" name="first-name" /></label>
        </p>
        <p class="getinvolved-form--lname">
            <label>Last Name<br />
                <input type="text" name="last-name" /></label>
        </p>
        <p class="getinvolved-form--email">
            <label> Email<br />
                <input type="email" name="email" /></label>
        </p>
        <p class="getinvolved-form--city">
            <label> Where do you live? <em>(city)</em><br />
                <input type="text" name="city" /></label>
        </p>
        <!-- <p class="getinvolved-form--message">
            <label>Message<br />
                <textarea name="message"></textarea></label>
        </p> -->
        <ul class="getinvolved-form--checkbox">
            <li>
                <input type="checkbox" id="checkbox1">
                <label for="checkbox_1">I want to contribute</label>
            </li>
            <li>
                <input type="checkbox" id="checkbox2">
                <label for="checkbox_1">Send me updates</label>
            </li>
        </ul>
        <p class="get-involved--submit">
            <button type="submit" class="button buttonPrimary">Let's Talk!</button>
        </p>
    </form>
</section>

{{ content | safe }}

{% endblock %}