*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

/* Screen Reader Only */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* === Skip To Main Content === */
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: var(--secondaryColor);
  border: 3px solid var(--primaryColor);
  outline: none;
  left: 5%;
  top: auto;
  width: 12%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  border-radius: 6px;
  border-radius: .4rem;
  padding: 10px 5px;
  z-index: 999;
}

/* @font-face {
    font-family: 'gt-haptik';
    src: url('fonts/gt-haptik/gt-haptik-regular-webfont.eot');
    src:
      url('../fonts/gt-haptik/gt-haptik-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/gt-haptik/gt-haptik-regular-webfont.woff2') format('woff2'),
      url('../fonts/gt-haptik/gt-haptik-regular-webfont.woff') format('woff'),
      url('../fonts/gt-haptik/gt-haptik-regular-webfont.ttf') format('truetype'),
      url('../fonts/gt-haptik/gt-haptik-regular-webfont.svg#medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }   */

:root {
  /* Colors */
  --primaryColor: hsl(325, 92%, 48%);
  --secondaryColor: hsl(36, 96%, 54%);
  --accentColor: hsl(174, 48%, 53%);
  --supportColor-lt: hsla(0, 0%, 74%, .15);
  --backgroundColor: hsl(0, 0%, 96%);
  --textColor: hsla(0, 0%, 11%, 1);
  --textColor: hsla(0, 0%, 22%, 1);

  --pink: hsl(325, 92%, 48%);
  --greenLime: hsl(77, 60%, 52%);
  --green: hsl(127, 51%, 47%);
  --aqua: hsl(174, 48%, 53%);
  --teal: hsl(177, 60%, 30%);
  --purple: hsl(291, 52%, 35%);
  --orange: hsl(36, 96%, 54%);
  --blue: hsl(230, 49%, 42%);
  --cyan: hsl(196, 100%, 47%);
  --red: hsl(358, 84%, 53%);
  /* Typography */
  --mainFont: 'Poppins', Arial, Helvetica, sans-serif;
}

/* ====== SCROLLBAR ====== */
html::-webkit-scrollbar {
  --scrollbarSize: 15px;
  width: var(--scrollbarS5ze);
  height: var(--scrollbarSize);
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--primaryColor), var(--secondaryColor));
  border-radius: .5em;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

html::-webkit-scrollbar-track {
  /* background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17); */
  background: var(--backgroundColor);
  box-shadow: inset 1px 1px 5px var(--supportColor-lt);
  /* box-shadow: inset 1px 1px 4px var(--backgroundColor); */
}

:focus {
  outline: solid 2px var(--secondaryColor);
}

:target {
  scroll-margin-top: 350px;
}

@media (min-width: 1000px) {
  :target {
    scroll-margin-top: 250px;
  }
}

body {
  width: 100%;
  font-family: var(--mainFont);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--backgroundColor);
  color: #ffffff;
  color: var(--textColor);
  position: absolute;
    top: 0;
}

/* Resets */
ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* === Navigation === */
.header-main {
  padding: 1.1rem 0 1.5rem;
  background-color: var(--backgroundColor);
  width: 100%;
  margin: 0 0 1em;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 10;
}

.header-main h1 {
  margin: 0 0 0 1.5rem;
  justify-self: start;
  width: 50%;
}

.header-main .nav-main {
  margin: 0 0 0 .5rem;
  justify-self: start;
}

.header-main .nav-main ul {
  display: flex;
  font-size: .9em;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.header-main .nav-main ul li {
  margin: 0 0 0 .5em;
  border-left: solid 2px var(--secondaryColor);
  padding-left: .5em;
}

.header-main .nav-main ul :nth-child(2) {
  margin: 0;
  border-left: 0;
}

.header-main .nav-main ul li a {
  color: var(--textColor);
  text-decoration:none;
}

.header-main h1 a:focus {
  outline: 0;
}

.header-main h1 a:focus img {
  border-bottom: solid 3px var(--secondaryColor); 
}

.header-main .nav-main :focus {
  outline: 0;
  color: var(--primaryColor);
  border-bottom: solid 3px var(--secondaryColor); 
}

.mobile-only {display: block;}
.desktop-only {display: none;}

@media (min-width: 1000px) {
  .mobile-only {display: none;}
  .desktop-only {display: block;}
  
  .header-main {
    line-height: 0;
    padding: 1rem 3rem .75rem;
    background-color: var(--backgroundColor);
    width: 100%;
    margin: 0 0 1em;
    box-shadow: 0 2px 10px 2px var(--supportColor-lt);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
  }
  
  .header-main h1 {
    margin: 0;
  }
  
  .header-main .nav-main {
    justify-self: end;
  }
  
  .header-main .nav-main ul {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    margin: 0;
    letter-spacing: .05em;
    font-weight: 500;
  }
  
  .header-main .nav-main ul li {
    line-height: 1;
    margin: 0 0 0 2em;
    border-left: 0;
  }
  
  .header-main .nav-main ul li a:hover {
    border-bottom: solid 3px var(--primaryColor);
    color: var(--secondaryColor);
    transition: ease-out .1s;
    
  }

  .header-main.main-nav--scroll .main-nav {
    padding: 0 3rem 0;
  }
  
  .header-main.main-nav--scroll .main-nav ul li {
    font-size: 16px
  }
  
  .header-main.main-nav--scroll .main-nav h1 img {
    width: 60%;
  }
   
}

main:focus {
  outline: none;
}

.section-margin {
  margin: 6rem 1.5rem;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: calc(6em + (15 - 6) * ((100vw - 320px) / (1920 - 320)));
}

h2 {
  font-size: calc(2em + (30 - 2) * ((100vw - 320px) / (1920 - 320)));
}

h3 {
  font-size: calc(1.5em + (10 - 1.5) * ((100vw - 320px) / (1920 - 320)));
}

h1>img {
  width: 80%;
}

p {
  font-size: 1em;
  font-size: calc(1em + (4 - 1) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.6;
  margin: 0;
}

.button {
  display: block;
  width: max-content;
  margin: .5em 0;
  padding: .5em .75em;
  border-radius: .4em;
  text-decoration: none;
  color: #fff;
  letter-spacing: .025em;
  border: solid 3px var(--secondaryColor);
  background-color: var(--secondaryColor);
  box-shadow: 2px 2px 8px var(--supportColor-lt);
}

.button:hover {
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.button:focus {
  outline: 0;
  border: solid 3px var(--primaryColor);
}

/* === Hero === */
.hero {
  /* height: calc(100vh - 5em); */
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: .9em 1.5rem 2rem 1.5rem;
}

.hero img {
  display: none;
}

.hero h2 {
  margin-bottom: .35em;
  width: 90%;
}

.hero p {
  margin: 0 0 .75em 0;
}

.hero .mission-en {
  padding-bottom: .75em;
  border-bottom: 5px solid hsla(0, 0%, 74%, .5);
}

.hero .mission-es {
  font-style: italic;
  font-size: .9em;
}

@media (min-width: 1000px) {
  .section-margin {
    margin: 12rem 8rem;
  }

  .hero {
    grid-template-columns: 3.5fr 4fr;
    gap: 0 8em;
    margin: 6em 0 2rem 0;
  }

  .hero h2 {
    width: 75%;
  }

  .hero img {
    display: block;
    width: 100%;
  }

  .hero .mission-es {
    font-style: italic;
    font-size: 1.15em;
  }

  .hero .mission-social {
    padding-right: 15%;
  }

  p {
    text-align: left;
    padding-right: 1em;
  }

  .mission-social .social-links {
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .mission-social .social-links li {
    display: inline-block;
    margin: 1em .75em 0;
  }

  .mission-social .social-links li:first-child {
    margin-left: 0;
  }

}


.social-links {
  width: 100%;
  margin: 3em auto 0;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  grid-column: 2 / 3;
}

.social-links li {
  display: inline-block;
  margin: 0 .75em;
}

.social-links li a {
  color: #fff;
  color: var(--accentColor);
  font-size: 2em;
  width: 100%;
  height: 100%;
}

.social-links li a:hover {
  outline: none;
  border-bottom: solid 4px var(--primaryColor);
  /* transition: ease-in-out .2s; */
  color: var(--primaryColor);
}

.social-links li a:hover i {
  transition: ease-out .3s;
  animation: .6s ease-in-out 1 shakeUp;
}

.social-links li a:focus {
  outline: none;
  border-bottom: solid 4px var(--primaryColor);
  transition: ease-in-out .3s;
}

.social-links li a:focus i {
  transition: ease-out .3s;
  animation: .6s ease-in-out 1 shakeUp;
}

@keyframes shakeUp {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-5px) rotate(-5deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

/* === Hispanic Heritage Talks === */
#hispanic-heritage-talks {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media (max-width: 999px) {
  .hht20--info {
    grid-row: 2 / 3;
  }

  .hht20--images {
    grid-row: 1 / 2;
    margin: -3em 0 3em;
  }
}

#hispanic-heritage-talks h2 {
  width: 80%;
  margin: 0 0 .5em;
}

#hispanic-heritage-talks h2::before {
  content: '';
  display: block;
  background-image: url(../images/icon-hht.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 45px;
  margin-bottom: .35em;
}

.hht20--info-dates {
  margin: 1.5em 0 .5em;
  /* color: var(--primaryColor); */
  font-weight: 600;
}

.hht20--info-dates i {
  color: var(--accentColor);
}

.hht20--info .button-list {
  display: flex;
}

.hht20--info .button-list li {
  margin: 0 1em 1.5em 0;
}

.hht20--info .button-list li:nth-child(even) .button {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.hht20--info .button-list li:nth-child(even) .button:hover {
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.hht20--info .button-list li:nth-child(even) .button:focus {
  outline: 0;
  border: solid 3px var(--secondaryColor);
}

.hht20--images {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: start;
  gap: 1.5em;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); */
}

.hht20--images img {
  width: 100%;
  object-fit: cover;
  border: solid 3px var(--backgroundColor);
}

.hht20--img1 {
  grid-area: 1 / 1 / 2 / 4;
}

.hht20--img2 {
  grid-area: 1 / 2 /  4 / 5;
}

.hht20--img3 {
  grid-area: 3 / 1 / 4 / 3;
}

@media (min-width: 1000px) {
  #hispanic-heritage-talks {
    grid-template-columns: 2fr 2fr;
    gap: 0 8em;
  }

  #hispanic-heritage-talks h2 {
    width: 70%;
  }
  
  #hispanic-heritage-talks h2::before {
    height: 55px;
  }
}

/* === Speakers === */
#speakers h2 {
  text-align: center;
  margin: 0 auto 1.5em;
  font-size: calc(3em + (30 - 3) * ((100vw - 320px) / (1920 - 320)));
}

#speakers h2::before {
  content: '';
  display: flex;
  justify-items: center;
  background-image: url(../images/icon-speakers.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 90px;
  height: 50px;
  text-align: center;
  margin: 0 auto .25em;
}

@media (min-width: 1000px) {
  #speakers h2::before {
    width: 100px;
    height: 60px;
  }
}

/* Speaker Grid */
.speakers-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: start;
  gap: 1em;
}

.speakers-grid--card {
  align-self: center;
  align-items: center;
  text-align: left;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  gap: 0 1em;
}

.speakers-grid--card-headshot img {
  width: 100%;
  object-fit: contain;
}

.speakers-grid--name {
  margin: 0 auto .2em;
}

.speakers-grid li:nth-child(even) .speakers-grid--name a {
  color: var(--secondaryColor);
}

.speakers-grid--name a {
  text-decoration: none;
  color: var(--primaryColor);
}

.speakers-grid--details li {
  font-size: 14px;
  font-size: calc(.9em + (4. - .9) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: .2em;
}

.speakers-grid--social {
  display: flex;
  margin: 1em 0;
}

.speakers-grid--social li {
  margin-right: .5em;
  font-size: 1.2em;
}

.speakers-grid--social li a {
  color: var(--accentColor);
}

.speakers-grid--social li a:hover {
  outline: none;
  border-bottom: solid 4px var(--primaryColor);
  /* transition: ease-in-out .2s; */
  color: var(--primaryColor);
}

.speakers-grid--social li a:hover i {
  transition: ease-out .3s;
  animation: .6s ease-in-out 1 shakeUp;
}

.speakers-grid--social li a:focus {
  outline: none;
  border-bottom: solid 4px var(--primaryColor);
  transition: ease-in-out .3s;
}

.speakers-grid--social li a:focus i {
  transition: ease-out .3s;
  animation: .6s ease-in-out 1 shakeUp;
}

@media (min-width: 800px) {
  .speakers-grid {
    margin: 0 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3em;
  }

  .speakers-grid--card {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 1em;
  }

  .speakers-grid--name {
    margin: .5em auto .2em;
  } 
}

/* === Footer === */
.footer {
  padding: .25rem 1rem 1rem;
  background-color: var(--textColor);
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration-color: var(--accentColor);
  text-decoration-thickness: 2px;
}

.footer a:hover {
  color: var(--accentColor);
}

.footer .social-links li a {
  color: #fff;
  font-size: 2.5em;
}

.footer .social-links li a:hover {
  border-bottom: solid 4px var(--primaryColor);
  color: #fff;
}

.footer .social-links li a:focus {
  border-bottom: solid 4px var(--primaryColor);
}

.copyright-credits {
  margin: 1rem .5rem;
}

.copyright-credits p {
  text-align: center;
}